ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.0.1'
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.20.0'
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus
  - repo: https://github.com/PyCQA/isort
    rev: '5.9.1'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '21.6b0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: '3.9.2'
    hooks:
      - id: flake8
        args:
        - --max-line-length=100
